// Antialias code blocks
code,
pre,
kbd,
samp {
  -webkit-font-smoothing: antialiased;
}

// Improve code tints
.plume-content {
  :not(h1, h2, h3, h4, h5, h6) code {
    color: inherit;
  }

  .hint-container.info code {
    color: inherit;
  }
}

// Fix code block overflow within markdown demos in 640px or narrower layouts
.vp-md-demo-display {
  div[class*="language-"] {
    margin: 0;
    border-radius: 6px;
  }
}