// Marked text with a solid background color and border

:root {
  --mark-padding-horizontal: 0.06em;
  --mark-padding-vertical: 0.06em;
  --mark-border-radius: 4px;
  --mark-border-width: 2px;
}

.plume-content {
  mark {
    background-color: var(--vp-c-brand-1);
    border: var(--mark-border-width) solid rgba(0, 0, 0, 0.15);
    color: #fff;

    .dark & {
      color: #000;
    }

    border-radius: var(--mark-border-radius);
    padding: calc(
        var(--mark-padding-vertical) - var(--mark-border-width)
      )
      calc(var(--mark-padding-horizontal) - var(--mark-border-width));
    margin: calc(-1 * (var(--mark-padding-vertical)))
      calc(-1 * (var(--mark-padding-horizontal)));

    a {
      color: #fff !important;

      .dark & {
        color: #000 !important;
      }

      &:hover {
        color: rgba(0, 0, 0, 0.5) !important;
      }
    }
  }

  .hint-container {
    &.tip {
      mark {
        background-color: var(--vp-c-tip-1);
      }
    }

    &.warning {
      mark {
        background-color: var(--vp-c-warning-1);
      }
    }

    &.caution {
      mark {
        background-color: var(--vp-c-danger-1);
      }
    }
  }
}
