// Fix task list styles
.plume-content {
  .task-list-container,
  ul,
  ol {
    padding-left: 1.75rem;
  }

  .task-list-container .task-list-item {
    input {
      width: auto;
      height: auto;
      margin: 0 0.5em 0.25em -2em;
      padding: 0;

      vertical-align: middle;

      &::after {
        display: none;
      }
    }

    label {
      margin-left: 0;
    }
  }
}