// Style: normal

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: url("./fonts/ligasfmono/LigaSFMonoNerdFont-Light.otf");
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: url("./fonts/ligasfmono/LigaSFMonoNerdFont-Regular.otf");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: url("./fonts/ligasfmono/LigaSFMonoNerdFont-Medium.otf");
  font-weight: 450;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: url("./fonts/ligasfmono/LigaSFMonoNerdFont-Semibold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: url("./fonts/ligasfmono/LigaSFMonoNerdFont-Bold.otf");
  font-weight: 750;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: url("./fonts/ligasfmono/LigaSFMonoNerdFont-Heavy.otf");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

// Style: italic

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: local("Liga SFMono Nerd Font (Embedded) Italic") url("./fonts/ligasfmono/LigaSFMonoNerdFont-LightItalic.otf");
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: local("Liga SFMono Nerd Font (Embedded) Italic") url("./fonts/ligasfmono/LigaSFMonoNerdFont-Italic.otf");
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: local("Liga SFMono Nerd Font (Embedded) Italic") url("./fonts/ligasfmono/LigaSFMonoNerdFont-MediumItalic.otf");
  font-weight: 450;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: local("Liga SFMono Nerd Font (Embedded) Italic") url("./fonts/ligasfmono/LigaSFMonoNerdFont-SemiboldItalic.otf");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: local("Liga SFMono Nerd Font (Embedded) Italic") url("./fonts/ligasfmono/LigaSFMonoNerdFont-BoldItalic.otf");
  font-weight: 750;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font (Embedded)";
  src: local("Liga SFMono Nerd Font (Embedded) Italic") url("./fonts/ligasfmono/LigaSFMonoNerdFont-HeavyItalic.otf");
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}