@font-face {
  font-family: "OPPO Sans";
  src: url("/fonts/oppo-sans/OPPOSans-L.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OPPO Sans";
  src: url("/fonts/oppo-sans/OPPOSans-M.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OPPO Sans";
  src: url("/fonts/oppo-sans/OPPOSans-R.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OPPO Sans";
  src: url("/fonts/oppo-sans/OPPOSans-B.ttf") format("truetype");
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OPPO Sans";
  src: url("/fonts/oppo-sans/OPPOSans-H.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
