@import "./fonts/ligasfmono/index.scss";
@import "./fonts/classic/index.scss";

:root {
  --vp-font-family-mono: "Liga SFMono Nerd Font (Embedded)" ui-monospace,
    sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New",
    monospace;
  --vp-font-family-classic: "滕王阁序" "Chinese Quotes", inter, ui-sans-serif,
    system-ui, sans-serif;
}

.font-classic {
  font-family: var(--vp-font-family-classic);
}

.tag,
.category-list,
.create-time,
.post-time,
.last-updated-time,
.page-category-wrapper {
  font-family: var(--vp-font-family-mono);
  letter-spacing: -0.025em;
}
