// Improve headings
h1,
h2,
h3,
h4,
h5,
h6,
.header-anchor {
  font-weight: 750 !important;
}

.plume-content :is(h1, h2, h3, h4, h5, h6) > a:hover {
  color: inherit;
}

// Fix footer issues
.plume-footer {
  margin: 0 !important;
}

// Fix details summary margin
.plume-content {
  .hint-container.details {
    &[open],
    & {
      > summary {
        margin-bottom: -1.1rem;
      }
    }
  }
}

// Fix last paragraph margin in <!-- more --> contents
.plume-content.excerpt .hint-container {
  p:last-of-type {
    margin-bottom: 8px !important;
  }
}

// Hide null tags in post meta
.post-meta .tag-list .tag {
  &:empty {
    display: none;
  }

  &:has(+ .tag:empty) {
    margin-right: 0;
  }
}

// Add rotate transition to markdown demo toggle buttons
.plume-content .vp-md-demo {
  .vp-md-demo-toggle-button {
    transition: background-color var(--vp-ct), transform var(--vp-tt);
  }
}

// Add background transition to toggle buttons
.hint-container.details summary {
  &::before {
    background: transparent;
    background-color: var(--vp-c-gray-2);
  }

  &:hover::before {
    background-color: var(--vp-c-gray-1);
  }
}

// Allow line wrapping in feature card details
.home-feature .details {
  white-space: pre-wrap;
}

// Remove bottom margin of nested hint containers in markdown demos
.plume-content .vp-md-demo-display > .hint-container:last-of-type {
  margin-bottom: 0;
}

// Fix task list styles
.plume-content {
  .task-list-container,
  ul,
  ol {
    padding-left: 1.75rem;
  }

  .task-list-container .task-list-item {
    input {
      width: auto;
      height: auto;
      margin: 0 0.5em 0.25em -2em;
      padding: 0;

      vertical-align: middle;

      &::after {
        display: none;
      }
    }

    label {
      margin-left: 0;
    }
  }
}

// Fix code block overflow within markdown demos in 640px or narrower layouts
.vp-md-demo-display {
  div[class*="language-"] {
    margin: 0;
    border-radius: 6px;
  }
}

// Improve code tints
.plume-content {
  .header-anchor code {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
  }

  :not(h1, h2, h3, h4, h5, h6) code {
    color: inherit;
  }

  .hint-container.info code {
    color: inherit;
  }
}
