// Fix scroll and overscroll issues on Safari
// This also breaks current back to top button functionality
html {
  overscroll-behavior: none;
}

/*
html {
  overflow: hidden;
}

body {
  overflow: auto;
  height: 100vh;
  overscroll-behavior: contain;
}
  */

// Improve headings
h1,
h2,
h3,
h4,
h5,
h6,
.header-anchor {
  font-weight: 750 !important;
}

// Fix footer issues
.plume-footer {
  margin: 0 !important;
}

// Fix details summary margin
.plume-content {
  .hint-container.details {
    &[open],
    & {
      > summary {
        margin-bottom: -1.1rem;
      }
    }
  }
}

// Fix last paragraph margin in <!-- more --> contents
.plume-content.excerpt .hint-container {
  p:last-of-type {
    margin-bottom: 8px !important;
  }
}

// Hide null tags in post meta
.post-meta .tag-list .tag {
  &:empty {
    display: none;
  }

  &:has(+ .tag:empty) {
    margin-right: 0;
  }
}

// Add rotate transition to markdown demo toggle buttons
.plume-content .vp-md-demo {
  .vp-md-demo-toggle-button {
    transition: background-color var(--vp-ct), transform var(--vp-tt);
  }
}

// Add background transition to toggle buttons
.hint-container.details summary {
  &::before {
    background: transparent;
    background-color: var(--vp-c-gray-2);
  }

  &:hover::before {
    background-color: var(--vp-c-gray-1);
  }
}

// Allow line wrapping in feature card details
.home-feature .details {
  white-space: pre-wrap;
}

// Remove bottom margin of nested hint containers in markdown demos
.plume-content .vp-md-demo-display > .hint-container:last-of-type {
  margin-bottom: 0;
}

// Fix task list styles
.plume-content {
  .task-list-container,
  ul,
  ol {
    padding-left: 1.75rem;
  }

  .task-list-container .task-list-item {
    input {
      width: auto;
      height: auto;
      margin: 0 0.5em 0.25em -2em;
      padding: 0;

      vertical-align: middle;

      &::after {
        display: none;
      }
    }

    label {
      margin-left: 0;
    }
  }
}

// Fix code block overflow within markdown demos in 640px or narrower layouts
.vp-md-demo-display {
  div[class*="language-"] {
    margin: 0;
    border-radius: 6px;
  }
}

// Borderless image-only tabs
.vp-tab:has(p:only-of-type > img:only-child) {
  padding: 0;

  p {
    margin: 0;
  }

  img {
    margin-bottom: -10px;
  }
}

// Improve back to top button
.back-to-top-button {
  --r: 16px;
  --percent: 0;

  @media (min-width: 768px) {
    & {
      --r: 22px;
    }
  }

  svg {
    width: 100%;
    height: 100%;

    circle {
      width: 100%;
      height: 100%;

      r: var(--r);
      fill: none;
      opacity: calc(var(--percent) * 100);

      stroke: var(--vp-c-brand-2);
      stroke-width: 4px;

      transform: rotate(-90deg);
      transform-origin: 50% 50%;

      stroke-linecap: round;
      stroke-dasharray: calc(var(--r) * 2 * 3.14159 * var(--percent))
        calc(var(--r) * 2 * 3.14159 * calc(1 - var(--percent)));
        transition: stroke-dasharray 0.1s ease, opacity 0.2s ease;
    }
  }

  .percent {
    font-family: var(--vp-font-family-mono);
    color: var(--vp-c-text-3);
  }
}
