.plume-content {
  .hint-container.details {
    &[open],
    & {
      > summary {
        margin-bottom: -1.1rem; // Fix details summary margin
      }
    }
  }
}

.plume-content.excerpt .hint-container {
  p:last-of-type {
    margin-bottom: 8px !important; // Fix last paragraph margin in <!-- more --> contents
  }
}

.post-meta .tag-list .tag {
  &:empty {
    display: none;
  }

  &:has(+ .tag:empty) {
    margin-right: 0;
  }
}
