@use "overrides/icon.scss";
@use "overrides/tag.scss";
@use "overrides/unfocused_category.scss";
@use "overrides/friends.scss";
@use "overrides/hint_container.scss";
@use "overrides/heading.scss";
@use "overrides/tabs.scss";
@use "overrides/back_to_top_button.scss";
@use "overrides/container.scss";
@use "overrides/post_item.scss";

/*
// Fix scroll and overscroll issues on Safari
// This also breaks current back to top button functionality
html {
  overscroll-behavior: none;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
  height: 100vh;
  overscroll-behavior: contain;
}
*/

// Fix footer issues
.plume-footer {
  margin: 0 !important;
}

// Fix last paragraph margin in <!-- more --> contents
.plume-content.excerpt .hint-container {
  p:last-of-type {
    margin-bottom: 8px !important;
  }
}

// Allow line wrapping in feature card details
.home-feature .details {
  white-space: pre-wrap;
}

// Hide details summary arrows
details > summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

// Hide blockquote icons
.vp-doc blockquote {
  &::before {
    display: none;
  }
}
