@import url('/fonts/liga-sf-mono/italic.scss');

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-Medium.otf') format('opentype');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-SemiBold.otf') format('opentype');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
