@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-LightItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-MediumItalic.otf') format('opentype');
  font-weight: 250;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-SemiBoldItalic.otf') format('opentype');
  font-weight: 550;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Liga SF Mono';
  src: url('/fonts/liga-sf-mono/LigaSFMonoNerdFont-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
