---
import { SITE } from '@/config'
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
---

<header>
  <nav>
    <div class="logo-container">
      {SITE.favicon && <img src="/favicon.svg" alt="favicon" class="favicon" />}
      <a href="/">{SITE.title}</a>
    </div>
    <ThemeToggle />
  </nav>
</header>
<style>
  header {
    margin: 0 0 1.75rem 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-decoration: none;
    min-width: 3rem;
    display: inline-block;
  }
  .logo-container {
    position: relative;
  }
  .favicon {
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    bottom: calc(100% + 3.5rem);
    left: 0;
  }
</style>
