---
import IndexLayout from '@/layouts/IndexLayout.astro'
import About from '@/components/pages/About.astro'
import PostList from '@/components/features/PostList.astro'
import { SITE } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

const posts = await getSortedFilteredPosts()
---

<IndexLayout title={SITE.title} description={SITE.description}>
  <About />
  <main>
    <PostList posts={posts} />
  </main>
</IndexLayout>
