@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SF-Pro.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SF-Pro-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}
