<div class="container">
  <div class="accent"></div>
  <div class="primary"></div>
  <div class="secondary"></div>
  <div class="tertiary"></div>
  <div class="background"></div>
  <div class="background-secondary"></div>
  <div class="background-tertiary"></div>
  <div class="text"></div>
</div>

<style lang="scss">
  .container {
    height: 100px;
    display: flex;

    div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .accent {
    background-color: var(--palette--accent);
  }

  .primary {
    background-color: var(--palette--primary);
  }

  .secondary {
    background-color: var(--palette--secondary);
  }

  .tertiary {
    background-color: var(--palette--tertiary);
  }

  .background {
    background-color: var(--palette--background);
  }

  .background-secondary {
    background-color: var(--palette--background-secondary);
  }

  .background-tertiary {
    background-color: var(--palette--background-tertiary);
  }

  .text {
    background-color: var(--palette--text);
  }
</style>