// Improve friend cards
.friends-wrapper {
  background-color: var(--vp-c-bg-alt);
  padding-left: 2rem;
  padding-right: 2rem;
}

.friends-list {
  .friend {
    border-radius: 8px;
    border: transparent;
  }
}