// Improve post items
.vp-blog-post-item {
  transition: all var(--t-color) !important;

  h3 a {
    transition: text-shadow var(--t-color);
  }

  &:hover {
    h3 a {
      text-shadow: 0 1px 7.5px var(--vp-c-text-3);
    }
  }

  @media (width < 768px) {
    & {
      margin-right: 0 !important;
    }
  }
}

// Improve sticky post items
.vp-blog-post-item {
  // Sticky post badge
  .sticky {
    background-color: var(--vp-c-brand-1) !important;
    color: var(--vp-c-bg) !important;
  }

  @media (width >= 768px) {
    // Sticky post background
    &:has(.sticky) {
      background-color: var(--vp-c-bg-tinted);
    }
  }

  &:has(.post-meta .tag-list .tag:empty) {
    background-color: transparent;
    box-shadow: none;

    @media (width < 768px) {
      :is(h3, .post-meta) {
        opacity: 0.5 !important;
      }
    }
  }
}
