// Improve post items
.post-item {
  h3 {
    margin-bottom: 0.25rem !important;
  }

  .excerpt {
    margin-top: 1.25rem !important;
  }

  .post-meta .category-list {
    :first-child {
      margin-left: 0;
    }
  }
}