// Improve post items
.vp-blog-post-item {
  transition: all 0.2s !important;

  &:hover {
    scale: 1.025;
  }

  @media (width < 768px) {
    & {
      margin-right: 0 !important;
    }
  }
}

// Improve sticky post items
.vp-blog-post-item {
  // Sticky post badge
  .sticky {
    background-color: var(--vp-c-brand-1) !important;
    color: var(--vp-c-bg) !important;
  }

  @media (width >= 768px) {
    // Sticky post background
    &:has(.sticky) {
      background-color: var(--vp-c-bg-tinted);
    }
  }

  &:has(.post-meta .tag-list .tag:empty) {
    background-color: transparent;
    box-shadow: none;

    @media (width < 768px) {
      :is(h3, .post-meta) {
        opacity: 0.5 !important;
      }
    }
  }
}

.vp-blog-extract {
  padding: 10px 16px !important;
}

.blog-modal-container {
  margin: 16px !important;
  border-radius: 16px !important;

  width: calc(100% - 16px * 2) !important;
  transform: translateY(calc(100% + 16px)) !important;

  &.open {
    transform: translateY(0) !important;
  }
}
