// Reduce visual impact of tags
.tags-nav .tags {
  .tag {
    border-width: 2px;

    &.active {
      background-color: var(--vp-tag-color);
    }

    &:not(.active) {
      background-color: var(--vp-c-bg);

      .tag-name {
        color: var(--vp-tag-color);
      }

      .tag-count {
        color: var(--vp-tag-color);
        border-color: var(--vp-tag-color);
      }

      &:hover {
        background-color: var(--vp-c-bg-alt);
      }
    }
  }
}

// Hide null tags in post meta
:is(.post-meta .tag-list, .page-meta-wrapper) .tag {
  &:empty {
    display: none;
  }

  &:has(+ .tag:empty) {
    margin-right: 0;
  }
}