// Style: normal

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font") url("/fonts/ligasfmono/LigaSFMonoNerdFont-Light.otf")
    format("otf");
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font") url("/fonts/ligasfmono/LigaSFMonoNerdFont-Regular.otf")
    format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font") url("/fonts/ligasfmono/LigaSFMonoNerdFont-Medium.otf")
    format("otf");
  font-weight: 450;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font") url("/fonts/ligasfmono/LigaSFMonoNerdFont-Semibold.otf")
    format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font") url("/fonts/ligasfmono/LigaSFMonoNerdFont-Bold.otf")
    format("otf");
  font-weight: 750;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font") url("/fonts/ligasfmono/LigaSFMonoNerdFont-Heavy.otf")
    format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

// Style: italic

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font Italic") url("/fonts/ligasfmono/LigaSFMonoNerdFont-LightItalic.otf")
    format("otf");
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font Italic") url("/fonts/ligasfmono/LigaSFMonoNerdFont-Italic.otf")
    format("otf");
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font Italic") url("/fonts/ligasfmono/LigaSFMonoNerdFont-MediumItalic.otf")
    format("otf");
  font-weight: 450;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font Italic") url("/fonts/ligasfmono/LigaSFMonoNerdFont-SemiboldItalic.otf")
    format("otf");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font Italic") url("/fonts/ligasfmono/LigaSFMonoNerdFont-BoldItalic.otf")
    format("otf");
  font-weight: 750;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "Liga SFMono Nerd Font";
  src: local("Liga SFMono Nerd Font Italic") url("/fonts/ligasfmono/LigaSFMonoNerdFont-HeavyItalic.otf")
    format("otf");
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}
